In [ ]:
print("hello \
 world")

hello  world

In [ ]:
""" Hello Guys """

' Hello Guys '

In [ ]:
name="Harsha"
marks=96
age=19
print("the name of person is",name,"marks is",marks,"age is",age)
print("the name of person is %4s marks is %4.0f and age is %4d"%(name,marks,age))
print(f"the name of person is {name} marks is {marks} age is {age}")

the name of person is Harsha marks is 96 age is 19
the name of person is Harsha marks is   96 and age is   19
the name of person is Harsha marks is 96 age is 19

##Arithmetic Operations

In [ ]:
a=8
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)

7
3
10
2.5
2
25

In [ ]:
a=4
b=4
a+=b
print(a)

8

##Bitwise operator

In [7]:
a=8
b=2
print(a&b)
print(a|b)
print(~a)

0
10
-9

Logical Operator

In [8]:
a=6
b=2
c=4
print((a>b and b<c))
print((a>b or b>c))
print(not a>b)

True
True
False

##Membership Operator

In [9]:
str="harsha"
print('a' in str)
print('v' in str)

True
False

##Identity Operator

In [11]:
a=300
b=200
a is b

False